.idea/
*.iml
*.iws
*.ipr

target/
*.class
*.jar

.application.properties/

__pycache__/
*.py[cod]
.nenv/
venv/
.env/

.postman/

*.log
logs/
*.error/
*.input/

airflow/airflow_505/logs/
airflow/airflow_505/errors
airflow/airflow_505/input/
airflow/airflow_505/plugins/
airflow/airflow_505/pyscript/
airflow/airflow_505/airflow.cfg
airflow/airflow_505/airflow-webserver.pid
airflow/airflow_505/webserver_config.py
airflow/.env

**/application.properties

